#Exercise 1
#Base7
0
1
2
3
4
5
6

#Exercise 2
# Write  up to 3 Digits in Your Base
0,1,2,3,4,5,6,10,11,12,13,14,15,16,20,21,22,23,24,25,26,30,31,32,33,34,35,36,40,41,42,43,44,45,46,50,51,52,53,54,55,56,60,61,62,63,64,65,66,100,101,102,103,104,105,106,110,111,112,113,114,115,116,-----,166,200,201,202,203,204,206,-----,266,300,301,------,466,500,501,--- 566,---,600,601----666.

In [ ]:
#Exercise 3A - Addition
0 1  2  3  4  5  6 
0 1  2  3  4  5  6
1 2  3  4  5  6  10
2 3  4  5  6  10 11  
3 4  5  6  10 11 12
4 5  6  10 11 12 13 
5 6  10 11 12 13 14
6 10 11 12 13 14 15

5 + 6 = 14
143 + 43 = 216

In [ ]:
#Exercise 3B - Substraction
0 1  2  3  4  5  6 
0 1  2  3  4  5  6
1 2  3  4  5  6  10
2 3  4  5  6  10 11  
3 4  5  6  10 11 12
4 5  6  10 11 12 13 
5 6  10 11 12 13 14
6 10 11 12 13 14 15